<% if @error %>
<h1><%= @error %></h1>
<% end %>

<% if @current_user %>
  <%= erb :_authenticated_head %>
<% else %>
  <%= erb :_non_authenticated_head %>
<% end %>

<% if @current_user %>
<div style="text-align: center; width: 15%; height: 30%; background-color: lightblue;">
<a href='/parties/new'><h1>New Party</h1></a>
</div>
<% end %>

<% if @current_user %>

<div style='width: 40%; height: 60%; background-color: yellow; display: inline-block; float: left;'>
  <h1>Your Tables</h1>
  <% @parties.each do |party| %>
    <% if party.paid == "false" && @current_user.parties.include?(party)%>      
  
        <p><a href='/parties/<%=party.id %>'><%= party.to_html %></a></p>     

    <% end %>

  <% end %>
</div>
<div style='width: 40%; height: 60%; background-color: yellow; display: inline-block; float: right'>
  <h1>Other Tables</h1>
  <% @parties.each do |party| %>
    <% if party.paid == "false" && !@current_user.parties.include?(party)%>      
  
        <p><a href='/parties/<%=party.id %>'><%= party.to_html %></a></p>     

    <% end %>

  <% end %>
</div>
<% else %>
<div style='width: 95%; background-color: yellow; display: inline-block;'>
  <% @parties.each do |party| %>
    <% if party.paid == "false" %>      
  
        <p><a href='/parties/<%=party.id %>'><%= party.to_html %></a></p>     

    <% end %>

  <% end %>
</div>

<% end %>
