<% if @errors %>
<div class="errors">
<h1><%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
  <ul>
    <% @errors.each do |error|  %>
      <li><h2><%= error %></h2></li>
    <% end %>
  </ul>
</div>
<% end %>

<form action='/parties' method='post'>
	New Party: <input name='party[name]' />
	New Party Size <input name='party[size]' />
  <input type='hidden' name='party[shape_selector]' value="<%= [0, 1, 2].sample %>" />
  <input type='hidden' name='party[server_id]' value='<%= @current_user.id %>'/>
	<input type='submit' />
</form>

<a href='/'>Home</a>