<p><%= @party.name %>: Size <%= @party.size %></p>
<a href="/parties/<%= @party.id %>/edit" %><p>Edit!</a></p>

Make a new order!
<form action='/parties/<%= @party.id %>' method='post'>
	<input type='hidden' name='party_name' value='<%= @party.name %>'/>
	Food: <input name='food_name' />
	<input type='submit' />
</form>

<p><form action='/parties/<%= @party.id %>/receipt' method='get'>
	<input type="submit" value="Receipt" />
</form></p>

<% if @party.paid == "false" %>
<form action='/parties/<%= @party.id %>/checkout' method='post'>
	<input type='hidden' name='_method' value='patch' />
	<input type='submit' value='Checkout' />
</form>
<% end %>

<p><%= @party.name %> has ordered:</p>
<% @orders.each do |order| %>
	<% if @party.id == order.party_id %>
		<p><%= @foods.find(order.food_id).name %></p>
	<% end %>
<% end %>

<a href='/parties'> Back to Parties Page! </a>

<form action="/parties/<%= @party.id %>" method='post' >
	<input type='hidden' name='_method' value='delete' />
	<input type='submit' value='Delete!' />
</form>